@model NSFWjoke
@{
    ViewData["Title"] = "Christmas Joke";
}

<style>
    h2 {
    font-family: 'Courier New', monospace;
    }
</style>

<h1>@ViewData["Title"]</h1>
<hr class="my-4">
<div class="container d-flex justify-content-center align-items-center">
    <div class="col-xs-10 col-md-6 text-center">
        <h2>Here's a potentially NSFW Christmas joke:</h2>
        <hr class="my-4">
        @if (Model.type == "twopart")
        {
            <p>@Model.setup</p>
            <p>@Model.delivery</p>
        }
        else
        {
            <p>@Model.joke</p>
        }
    </div>
</div>
<div class="text-center my-3">
    <button type="button" class="btn btn-info btn-lg">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ChristmasJoke">An extra dose of munchies, if you please</a>
    </button>
</div>