@model GeekJoke
@{
    ViewData["Title"] = "Geek Joke";
}

<script>

window.onload = function () {
    const copyButton = document.getElementById("copyButton");

    if (copyButton) {
        copyButton.addEventListener("click", () => {
            copyToClipboard();
        });
    }
};

// $(document).ready(function () {
//         $('[data-toggle="tooltip"]').tooltip();
//     });

</script>

<style>
</style>

<h1>
    <i class="fa-brands fa-space-awesome mx-2"></i>@ViewData["Title"]
</h1>
<hr class="my-4">
<div class="container d-flex justify-content-center align-items-center">
    <div class="col-xs-10 col-md-6 text-center">
        <h2 class="geek-font">Here's a geek joke:</h2>
        <hr class="my-4">
        <div class="d-none" id="joke">
            <p>@Model.joke</p>
        </div>
    </div>
</div>
<div class="container d-flex justify-content-center align-items-center">
    <img src="data:image/png;base64,@Convert.ToBase64String(ViewBag.JokeCard.ToArray())" alt="Generated Image"/>
</div>
<div class="text-center">
    <p class="info-text">to share: copy/save the above image or:</p>
</div>
<div class="text-center my-3">
    <div class="row d-flex">
        <div class="col-6 d-flex justify-content-end px-1">
            <button class="btn btn-outline-info" id="copyButton" data-toggle="tooltip" title="Copy Text">
                <i class="fa-regular fa-copy mx-3" id="copyIcon"></i>
            </button>
        </div>
        <div class="col-6 d-flex align-items-start px-1">
            <button class="btn btn-info button-font" id="refreshButton" data-toggle="tooltip" title="Gimme Another">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="GeekJoke">
                    <i class="fa-solid fa-repeat"></i>
                </a>
            </button>
        </div>
    </div>
</div>