@{
    ViewData["Title"] = "Home";
}

<style>
    h2 {
    font-family: 'Courier New', monospace;
    }
    .welcome {
    font-family: 'Courier New', monospace;
    }
</style>

<h1>@ViewData["Title"]</h1>
<hr class="my-4">
<div class="container d-flex justify-content-center align-items-center">
    <div class="col-xs-10 col-md-8 text-center">
        <h1 class="display-4 welcome">Welcome</h1>
        <hr class="my-4">
        <h2>Select a joke type from the nav bar</h2>
    </div>
</div>