@{
    ViewData["Title"] = "Home";
}

<style>
</style>

<h1><i class="fa-regular fa-paper-plane mx-2"></i>//todo ++</h1>
<hr class="my-4">
<div class="container d-flex justify-content-center align-items-center">
    <div class="col-xs-10 col-md-8 text-center">
        <h1 class="display-4 geekfont">Willkommen</h1>
        <hr class="my-4">
        <h2 class="geekfont">Select a joke type from the nav bar</h2>
    </div>
</div>