@{
    ViewData["Title"] = "Sources";
}
<h1>@ViewData["Title"]</h1>
<hr class="my-4">
<p><a href="https://documenter.getpostman.com/view/16443297/TzkyLee7" target="_blank">Dev Jokes API</a></p>
<hr class="my-4">
<p><a href="https://github.com/sameerkumar18/geek-joke-api" target="_blank">Geek Jokes API</a></p>
<p><a href="https://github.com/sameerkumar18/geek-joke-api/blob/master/README.md" target="_blank">README</a></p>
<hr class="my-4">
<p><a href="https://github.com/dhairyaostwal/Programmer-Jokes" target="_blank">Programming Jokes Repo</a></p>
<hr class="my-4">
<p><a href="https://sv443.net/jokeapi/v2/" target="_blank">JokeAPI</a> (incl NSFW content)</p>