@{
    ViewData["Title"] = "Sources";
}
<h1>@ViewData["Title"]</h1>
<hr class="my-4">
<p><a href="https://documenter.getpostman.com/view/16443297/TzkyLee7">Dev Jokes API</a></p>
<hr class="my-4">
<p><a href="https://github.com/sameerkumar18/geek-joke-api">Geek Jokes API</a></p>
<p><a href="https://github.com/sameerkumar18/geek-joke-api/blob/master/README.md">README</a></p>