@model NSFWjoke
@{
    ViewData["Title"] = "Spooky Joke";
}

<style>

</style>

<h1>@ViewData["Title"]</h1>
<hr class="my-4">
<div class="container d-flex justify-content-center align-items-center">
    <div class="col-xs-10 col-md-6 text-center">
        <div class="h2 geekfont">Here's a potentially NSFW spooky joke:</div>
        <hr class="my-4">
        @if (Model.type == "twopart")
        {
            <p>@Model.setup</p>
            <p>@Model.delivery</p>
        }
        else
        {
            <p>@Model.joke</p>
        }
    </div>
</div>
<div class="text-center my-3">
    <button type="button" class="btn btn-info button-font">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="SpookyJoke">another slice of that pie-in-the-sky</a>
    </button>
</div>