
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
  background-color: #222;
  color: #e7e4e4;
}

body {
  margin-bottom: 60px;
  background-color: #222;
  color: #e7e4e4;
}

a {
  color: #007bff;
}

a:visited {
  color: #b072ea;
}

header {
  background-color: #444;
  color: #e7e4e4;
}

footer {
  background-color: #444;
  color: #e7e4e4;
}

button,
input[type="button"],
input[type="submit"] {
  background-color: #007bff; /* Blue button background color */
  color: #e7e4e4; /* Light text color for buttons */
}

.navbar {
  background-color: #333!important;
  color: #e7e4e4!important;
}

.navbar a {
  color: #e7e4e4!important;
}

.navbar a:hover,
.navbar a:focus {
  color: #007bff!important;
}

/* Optional: Add box shadow to the navbar */
.navbar {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1) !important; /* Add a subtle shadow for depth */
}

/* Optional: Style active navbar items differently (e.g., with a background color) */
.navbar .active {
  background-color: #007bff!important; /* Example background color for active item */
}
